.navbar {
    background-color: lightpink;
}

.container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.front {
    color: rgba(255, 20, 145, 0.818);
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/483/543/small/beauty-logo-with-pink-background-illustrations-in-minimal-linear-style-beauty-salon-cosmetics-spa-hair-logotype-concept-icon-vector.jpg");
   }

h2 {
    color: darkorchid;
}

h3 {
    color: darkorchid;
}
