body {
    background-image: url("https://img.rawpixel.com/private/static/images/website/2022-05/p-448-pai-683-job570-2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=5e117d5f5a5e888842eab1e12e3934ed");
    text-align: center;
    font-family: fantasy;
    color: brown;
    margin: auto;
}